<section>
  <nav class="px-4 md:px-10 lg:px-20">
    <ul class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      <!-- Logo -->
      <li class="flex justify-center md:justify-start">
        <img class="h-20 md:h-25 w-auto" src="./assets/home-logo.png" />
      </li>

      <!-- Menu -->
      <li
        class="hidden md:flex flex-col md:flex-row justify-evenly gap-4 md:gap-8 backdrop-blur-2xl w-1/4 rounded-2xl"
      >
        <a class="text-white" routerLink="about">About</a>
        <span class="text-white">Listing</span>
        <span class="text-white">Contact</span>
      </li>
    </ul>
  </nav>
</section>
